/* Universal */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  /* Used to prevent scroll */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  height: 60px;
}

.logo-link {
  position: absolute;
  left: 15px;
  top: 5px;
}

form {
  width: 55%;
  margin: auto;
}

.flex-form {
  position: relative;
  width: 100%;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-items: center;
  padding-bottom: 1%;
  padding-left: 23%;
  padding-right: 23%;
}

.input-field {
  position: relative;
  height: 40px;
  width: 50%;
  border-width: 0px;
  margin-left: 10px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-size: 15px;
  padding: 10px;
}

.checkbox-container {
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.check-text {
  padding-right: 10px;
}

.round-rect {
  box-sizing: border-box;

  position: absolute;
  width: 84%;
  height: 150%;
  left: 8%;
  top: 175px;
  padding-bottom: 20px;

  border: 15px solid #7B7B7B;
  border-radius: 104px;
}

.submit-button {
  position: relative;
  font-style: normal;
  font-size: medium;
  font-weight: 500;
  border: 0;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  margin-top: 10px;
  margin-left: 43%;
}

/* Timeline page */

/* position: absolute;
  width: 84%;
  height: 110%;
  left: 8%;
  top: 200px;
  padding-bottom: 20px;

  border: 15px solid #7F867B;
  border-radius: 104px;
} */

/* Community GroupsBar

.groupsHeader {
  flex-grow: 1;   
}

.groups {
  margin-right: 10%;
  flex-grow: 1;
  background-color: lightgrey;
  max-height: 600px;
  width: 300px;
  overflow-y: scroll;
  max-width: 400px;
}

.stats-wrapper {
  position: relative;
}

.big-num {
  position: absolute;
  top: -12px;
  z-index: 2;
}

.unit-text {
  position: absolute;
  top: 69px;
  width: 130px;
  z-index: 2;
} */

.solid-rect {
  position: absolute;
  width: 18%;
  height: 24px;
  top: 57px;

  background: #D9BFB1;
  border-radius: 5px;
  z-index: 1;
}

.internal-header {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.stats-wrapper {
  position: relative;
}

/* Community GroupsBar */

.groups-header {
  position: relative;
  flex-grow: 1;
  margin-bottom: 15px;
}

.groups {
  height: 100%;
  flex-basis: 100%;
  flex-grow: 1;
  background-color: #D9BFB1;
  padding-top: 5px;
  padding-bottom: 50px;
}

.group-bar-contain {
  background-color: #D9BFB1;
  position: absolute;
  right: 0px;
  height: 100%;
  border-radius: 50px;
  height: 700px;
  width: 320px;
  /* width: 500px; */
  overflow-y: scroll;
  /* max-width: 400px; */
}

::-webkit-scrollbar {
  display: none;
}

.group-card-container {
  position: relative;
  width: 265px;
}

.group-card-list {
  position: relative;
  width: 100%;
  padding-top: 10px;
}

.group-bar-inner {
  display: flex;
  /* float: right; */
  flex-direction: column;
  /* max-height: 500px; */
  align-items: center;
}

.group-img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 212px;
  height: 85px;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.group-card-text {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 75px;
  width: 212px;
}

.group-card-name {
  position: relative;
  font-size: 15px;
  float: left;
  margin-bottom: 0px;
}

.group-card-desc {
  position: absolute;
  float: left;
  padding-top: 30px;
}

.group-info {
  display: flex;
  flex-direction: row;
}

.group-info-member-list {
  margin-top: 95px;
  /* float: right; */
  margin-left: 500px;
}

.group-create-bar {
  display: flex;
  width: 40rem;
  background-color: black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#create-group-button {
  margin-right: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: -100px;
}

.group-details-buttons {
  display: flex;
  flex-direction: row;
  width: 70%;
  padding-left: 5%;
}

.group-info-round-rect {
  box-sizing: border-box;
  width: 70%;
  height: 150%;
  margin-top: 30px;
  position: absolute;
  padding-bottom: 20px;
  margin-top: 75px;

  border: 15px solid #7B7B7B;
  border-radius: 104px;
  /* display: flex;
  flex-direction: row; */
}

.scroll-container {
  overflow-y: scroll;
}

/* Event Details */
.form-header {
  margin-bottom: 25px;
  text-align: center;
  border-bottom: 1px solid #cccccc;
}

.form-body {
  display: flex;
  flex-direction: column;
}

.form-row {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
}

.input-line {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin: 10px 5px;
}

.horiz-field {
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 5px 6px 5px 5px;
}

.description {
  height: 120px;
}

/* forward arrow button */
.forward-button {
  padding: 15px 30px;
  background: #000;
  border: 0;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 3px;
  position: relative;
  transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
  display: block;
  margin: auto;
}

.forward-button span:after,
.forward-button span:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  opacity: 0;
}

.forward-button span:after {
  width: 30px;
  height: 1px;
  background: white;
  transform: translateX(-3px);
  margin-top: 0px;
  opacity: 0;
}

.forward-button span:before {
  content: "";
  transform: rotate(-135deg) translateX(50%);
  width: 11px;
  height: 11px;
  background: transparent;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  margin-top: -1px;
}


.forward-button:hover span {
  padding: 15px 40px 15px 5px;
}

.forward-button:hover span:after,
.forward-button:hover span:before {
  opacity: 1;
  right: 15px;
}

/* back arrow button */
.back-button {
  padding: 15px 20px;
  background: #000;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 3px;
  position: relative;
  cursor: pointer;
  display: block;
  margin: auto;
}

/* Event page CSS */
.event-page-title {
  padding: 0%;
  position: absolute;
  left: 84.5%;
  font-size: 15px;
  width: 150px;
  top: 60px;
}

.event-right-bar {
  left: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Autocomplete CSS */
.autocomplete-input {
  position: absolute;
  top: 12.5%;
  left: 1%;
  border: 2px solid #999;
  border-radius: 10px;
  padding: 0.5rem;
  width: 300px;
  z-index: 10;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
  position: absolute;
  top: 16.5%;
  left: 1%;
  z-index: 10;
}

.suggestions {
  position: absolute;
  top: 17.3%;
  left: 1%;
  border: 2px solid #999;
  background-color: #D2D2D2;
  border-top-width: 0;
  border-radius: 10px;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding: 0.5rem;
  width: 300px;
  z-index: 10;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #698bbe;
  color: whitesmoke;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

.internal-header {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.stats-wrapper {
  position: relative;
}

/* Community GroupsBar */

.groupsHeader {
  flex-grow: 1;
  text-align: center;
  margin-left: 5px;
}

.groups {
  height: 100%;
  flex-basis: 100%;
  flex-grow: 1;
  background-color: #D9BFB1;
}

.group-bar-contain {
  background-color: #D9BFB1;
  position: absolute;
  right: 10px;
  height: 100%;
  border-radius: 50px;
}

.event-bar-contain {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #a4b5ce;
  position: absolute;
  right: 0px;
  height: 100%;
  width: 20%;
  /* border-radius: 50px; */
}

.event-bar-inner {
  top: 0px;
}

.group-card-container {
  position: relative;
  width: 265px;
}

.group-card-list {
  position: relative;
  width: 100%;
  margin-left: 10px;
}

.conf-list {
  list-style-type: none;
  text-align: center;
  padding-right: 35px;
}

.conf-round-rect {
  box-sizing: border-box;
  width: 70%;
  height: 150%;
  margin-top: 30px;
  position: absolute;
  padding-bottom: 20px;
  margin-top: 75px;
  left: 15%;

  border: 15px solid #7B7B7B;
  border-radius: 104px;
}